{% extends 'base/base.html' %}

{% block content %}
{% include "base/navbar-admin.html" %}


<div class="container mt-5">
    <div class="container d-flex flex-column align-items-center">
      <h2 class="font-weight-bold">Recent Bookings Requests</h2>
    </div>
      <div class="mt-4 col-md-6 mx-auto">
          {% for booking in  bookings %}
          <a style="text-decoration: none;" href="{% url "viewRequestForm" booking.id %}">
              <div class="mt-4 py-3">
                  <div class="card">
                      <small class="card-header">Requests on {{booking.created_at}}</small>
                      <div class="card-body">
                          <h4 class="card-title">{{booking.program_title}}</h4>
                          <p>On {{booking.date}}</p>
                          <p>At {{booking.venue}}
                            {% if booking.ac %}
                            <sup class="badge rounded-pill text-bg-primary">a/c</sup>
                            {% endif %}
                          </p>
                          <p class="card-text">Department : {{booking.requested_dep}}</p>
                          <div style="display: flex; gap: 1rem;" class="card-text">
                              {% for slot in booking.time_slots.all %}
                              <small class="card p-1 bg-secondary" style="color: white;">{{slot.time_period}}</small>
                              {% endfor %}
                          </div>
                      </div>
                  </div>
              </div>
          </a>
          {% endfor %}
      </div>
</div>

{% endblock content %}