{% extends 'base/base.html' %}

{% block content %}
{% include "base/navbar.html" %}
<div class="container mt-4">
    <div class="container d-flex flex-column align-items-center">
      <h4 class="font-weight-bold">Booking History</h4>
    </div>
      <div class="mt-3 col-md-6 mx-auto">
          {% for booking in  bookings %}
          <a style="text-decoration: none;" href="{% url "viewForm" booking.id%}">
              <div class="mt-4 py-3">
                  <div class="card">
                      <div class="card-body">
                        <small class=" text-secondary">#{{booking.booking_number}}</small>
                        {% if booking.is_postpone %}
                        <small class="badge bg-warning">Postponed</small>
                        {% endif %}
                        <div class="row">
                          <div class="col">
                            <h4 class="card-title">{{booking.program_title}}</h4>
                            <small class="card-text">{{booking.date}}</small><br>
                            <small class="card-text m-0">At {{booking.venue}}
                              {% if booking.ac %}
                              <sup class="badge rounded-pill text-bg-primary">a/c</sup>
                              {% endif %}
                            </small>
                          </div>
                          <div class="col text-end">
                            <p class="card-text">Media : {{booking.media}}</p>
                              {% for slot in booking.slots.all %}
                              <small class="card p-1 bg-secondary d-inline bold" style="color: white;">{{slot.time_period}}</small>
                              {% endfor %}
                          </div>
                        </div>
                        </div>
                        <div class="card-footer">
                          {% if booking.is_queue %}
                          <small class="card-text text-danger">In Queue</small>
                          {% else %}
                          {% if booking.is_approved %}
                          <small class="text-success">Booking Success</small>
                          {% else %}
                          <small class="text-dark">Approval Pending</small>
                          {% endif %}
                          {% endif %}
                        </div>

                  </div>
              </div>
          </a>
          {% endfor %}
      </div>
</div>
{% endblock content %}