{% extends 'base/base.html' %} 
{% block content %} 
{% include "base/navbar.html"%}

<div class="container mt-5  ">
    <div  class="align-items-center d-flex flex-column">
        <div class="col-8" id="printContent">
          <h3> Booking Details</h3>
          <p class="bold">Booking ID : {{booking.booking_number}}</p>
          <hr>
            <div class="row align-items-start ">
                <div class="col">
                  <p class="font-weight-bold">Program Name : {{booking.program_title}}</p>
                  <p>Co-ordinator : {{booking.coordinator}}</p>
      
                  <p>Contact : {{booking.contact_no}}</p>
                  <p>No of Participants : {{booking.participants}}</p>
              
                  <p>Level : {{booking.level}}</p>
              
                  <p>Funded By : {{booking.sponsor}}</p>
              
                  <p>Chief Guest : {{booking.chief_guest}}</p>
              
                  <p>Media : {{booking.media}}</p>
                  <p>Program Objective : {{booking.program_obj}}</p>
      
                </div>
                <div class="col text-end">
                  <p>{{booking.venue}}</p>
                  {% if booking.ac %}
                  <p>A/c</p>
                  {% endif %}
                  <p>{{booking.date}}</p>
                  <div>
                      {% for slot in booking.slots.all %}
                      <p class="card p-1 bg-success d-inline" style="color: white;">{{slot.time_period}}</p><br><br>
                    {% endfor %}
                  </div>
                </div>
                {% if booking.is_approved %}
                <h4 class="text-center text-success">Booking Successfully Approved !</h4>
                {%endif%}
                <hr>
            </div>
        </div>
        <div class="col-8 row">
            {% if booking.is_approved %}
            <div class="text-center">
                <button class="btn btn-primary d-inline" onclick="printDiv('printContent')">Print</button>
            </div>
            {% endif %}
            <div class="form-group mb-3 col">
                <button onclick="confirmCancellation()" class="btn btn-danger">Cancel Booking</button>
            </div>
            {% if  booking.is_approved%}
            <div class="form-group mb-3 col text-end">
                 <a href="{% url 'booking-postpone' booking.id %}" id="cancelBooking" class="btn btn-danger">Postpone Booking</a>
             </div>
             {% endif %}
        </div>
    </div> 

<!-- Create a modal for confirmation -->
<div class="modal" id="confirmationModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirmation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to cancel the booking?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
          <button type="button" class="btn btn-primary" onclick="proceedWithCancellation()">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

      // Function to show the confirmation modal
  function confirmCancellation() {
    $('#confirmationModal').modal('show');
  }

  // Function to proceed with the cancellation
  function proceedWithCancellation() {
    // Add your logic here to perform the cancellation
    // ...

    // Redirect to the cancellation URL
    window.location.href = "{% url 'booking-cancel' booking.id%}";
  }
    function printDiv(divId) {
        var printContents = document.getElementById(divId).innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;
    }
</script>

{% endblock content %}
